.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.active {
  opacity: 1;
  transform: translateY(0);
}

.fade-in2 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease 1s, transform 0.5s ease 1s; /* 1秒遅延 */
}

.fade-in2.active {
  opacity: 1;
  transform: translateY(0);
}

.fade-in3 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease 2s, transform 0.5s ease 2s;
}

.fade-in3.active {
  opacity: 1;
  transform: translateY(0);
}

.loaderWrapper {
  position: relative;
}

.loader {
  position: absolute;
  height: 100%;
  background-color: black;
}

.text {
  margin: 25%;
  text-align: center;
  color: white;
  white-space: nowrap;
  mix-blend-mode: difference;
  /* font-size: 50px; */
}

@media (max-width: 600px) {
  .text {
    font-size: 20px;
    margin: 25%;
    text-align: center;
    color: white;
    white-space: nowrap;
    mix-blend-mode: difference;
  }
}
