.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.active {
  opacity: 1;
  transform: translateY(0);
}

.fade-in2 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease 1s, transform 0.5s ease 1s; /* 1秒遅延 */
}

.fade-in2.active {
  opacity: 1;
  transform: translateY(0);
}

.fade-in3 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease 2s, transform 0.5s ease 2s;
}

.fade-in3.active {
  opacity: 1;
  transform: translateY(0);
}
